@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;500&display=swap');
/* font-family: 'Anuphan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */

.bkscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: none;
    z-index: 0;
}