@charset "UTF-8";

.wirter_div{
    margin: 20px auto;
    width: 1000px;
    height: 100%;
}

.writer_topul{
    display: flex;
    height: 30px;
  	border-bottom:3px solid rgb(81,61,61);
}

.writer_topul > li:nth-of-type(1){
    color: red;
}

.witer_main_ul{
	width: 1000px;
	height: auto;
}

.witer_main_ul > li{
	display:flex;
	width: inherit;
	height: 40px;
	border-bottom: 1px solid rgb(81,61,61);
	line-height: 40px;
}

.witer_main_ul > li:last-child {
	height: 550px;
	border-bottom: 1px solid rgb(81,61,61);
	line-height: 40px;
}

.witer_main_ul > li> div {
display: flex;
align-items: center;
margin-right: 10px;
}

.witer_main_ul > li > p:first-child {
	width: 250px;
	height: inherit;
	text-indent: 10px;
}


.input500{
	width: 500px;
	height: 30px;
}

.input200{
	width: 200px;
	height: 30px;
}

.indextest{
	width: 700px;
	height: 540px;
}

.witer_btn{
    margin:20px auto;
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    height: 45px;
}
.witer_btn > input[type=button]:nth-of-type(1){
    width: 150px;
    height: 45px;
    background-color: rgb(132, 6, 6);
    color:wheat;
    margin-right: 10px;
}

.witer_btn > input[type=button]:nth-of-type(2){
    width: 150px;
    height: 45px;
    background-color: rgb(81, 61, 61);
    color:wheat;
}