@charset "utf-8";
.week{
    width: 1200px;
    height: 150px;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 0 auto;
}
.week > span{
    width: 150px;
    height: 130px;
    background-image: url("../contents/week_part.png");
    background-repeat: no-repeat;
    margin-top: 10px;
    float: left;
}
.week > ul{
    width: 1050px;
    height: 130px;
    margin-top: 10px;
    background-color: white;
    margin-left: 150px;
}
.week > ul > li{
    width: 210px;
    height: 130px;
    float: left;
}
.week > ul > li:nth-of-type(1){
    background-image: url("../contents/b13_1.png");
    background-repeat: no-repeat;
}
.week > ul > li:nth-of-type(2){
    background-image: url("../contents/b13_2.png");
    background-repeat: no-repeat;
}
.week > ul > li:nth-of-type(3){
    background-image: url("../contents/b13_3.png");
    background-repeat: no-repeat;
}
.week > ul > li:nth-of-type(4){
    background-image: url("../contents/b13_4.png");
    background-repeat: no-repeat;
}
.week > ul > li:nth-of-type(5){
    background-image: url("../contents/b13_5.png");
    background-repeat: no-repeat;
}
.week > ul > li > span{
    width: 210px;
    height: 30px;
    background-color: #000000;
    color: #fce207;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    line-height: 30px;
    margin-top: 100px;
    display: none; 
}