@charset "utf-8";

.menu_main {
    
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity: 0.7; */
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;

}

.p_menu {
    width: 90%;
    height: 630px;
    border: 1px solid black;
    /* right: 0; */
    padding: 20px;
    background-color: white;
    position: absolute;
   right: 100%;
    z-index: 100;
    border-left: 0;
}


.p_menu>div:nth-of-type(1),
.p_menu>div:nth-of-type(2) {
    width: 100px;
    height: 30px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;


}

.p_menu>div:nth-of-type(1) {
    float: left;
}

.p_menu>div:nth-of-type(2) {

    float: right;
}

.menu_ul {
    margin-top: 20px;
    clear: both;
    /* max-width: 580px;
    min-width: 380px; */
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;


}

.menu_ul>li {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    /* margin-right: 20px; */
    font-size: 14px;
    /* float: left; */

}

.menu_ul>li>div {
    width: 60px;
    height: 30px;

    text-align: center;
    line-height: 30px;
}

.menu_ul>li>img {
    width: 30px;
    height: 20px;
    margin-left: 15px;
    margin-top: 7px;


}

.p_field {
    /* max-width: 580px;
    min-width: 380px; */
    width: 100%;
    height: 155px;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.p_leg {
    /* width: 200px;
    text-align: center; */


}

.p_menu2_ul {
    list-style-type: disc;
    margin: 0;


    height: 105px;
    padding-left: 20px;

}

.p_menu2_ul>li {
    height: 20px;
}

.p_menu2_ul>li>div {
    /* max-width: 480px; */
    /* min-width: 380px; */
    /* min-width: 280px; */
    width: 100%;
    /* border: 1px solid black; */
    height: 20px;
    float: left;
    font-size: 14px;
    line-height: 20px;
}

/* .p_menu2_ul > li > div:nth-of-type(2){
    width: 20%;
    font-size: 10px;
    color: gray;
} */

.p_ACC {
    max-width: 580px;
    min-width: 380px;
    height: 60px;
    margin-bottom: 20px;

}

.p_ACC>span {
    max-width: 580px;
    min-width: 380px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 20px;
}

.p_CS {
    clear: both;
    width: 100%;
    height: 190px;
    font-size: 15px;
    border: 1px solid black;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

}

.p_CS>li {
    height: 30px;
    width: 90%;
    line-height: 30px;
}

.p_CS>li:nth-of-type(1) {
    font-size: 15px;
}

.p_CS>li:nth-of-type(2) {
    font-size: 17px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}

.p_CS>li:nth-of-type(3) {
    font-size: 13px;
    height: 45px;
}

.p_CS>li>p {
    margin: 0;
    height: 15px;
    line-height: 15px;

}

.tel_div {
    clear: both;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    right: 50%;
    margin-right: -100px;
    background-image: url(/btn/headset.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 30px 10px;
    text-decoration: none;
    bottom: 40px;
    position: absolute;

}

.asss {
    color: black;
}